h1{
    color:orange;
    border: aquamarine;

p{
    color: blue;
    background-color: brown;
}
}
main{
    background-color: aquamarine;
    color: blueviolet;
}
body{
    background-color: brown;
    color: aquamarine;
    .blessing styles {
        front font-family: ;
        background-color:blueviolet ;
        color: aqua;

    }
    u1{
        text-decoration: none;
    }

}